.product-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: left;
}

.product-item img {
    width: 50%;
    height: auto;
    margin-bottom: 10px;
}

.product-item h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}